<h2><%= I18n.t 'pages.index', model: h(TangPoem), scope: :views %></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-0">
      <div class="d-flex justify-content-end mb-3">
        <%= link_to new_backend_tang_poem_path, class: "btn btn-primary" do %>
          <%= I18n.t 'pages.new', model: h(TangPoem), scope: :views %>
        <% end %>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
        <td><%= h TangPoem, :title %></td>
        <td><%= h TangPoem, :dynasty %></td>
        <td><%= h TangPoem, :author %></td>
        <td>操作</td>
        </tr>
        </thead>
        <% @tang_poems.each do |tang_poem| %>
          <tr>
          <td><%= link_to tang_poem.title, [ :backend, tang_poem ] %></td>
          <td><%= tang_poem.dynasty %></td>
          <td><%= tang_poem.author %></td>
          <td>
            <%= link_to "编辑", [ :edit, :backend, tang_poem ] %>
            <%= link_to "删除", [ :backend, tang_poem ], method: :delete, data: { confirm: "确定删除#{tang_poem.title}？"} %>
          </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
