<div class="d-flex justify-content-between align-items-baseline">
  <h2><%=I18n.t 'pages.show', model: h(TangPoem), scope: :views %></h2>
  <div class="mr-3">
    <%= link_to '编辑', [ :edit, :backend, @tang_poem ] %>
  </div>
</div>
<hr>
<br>

<div class="container">
  <div class="row my-3">
    <div class="col-md-8 offset-md-2 d-flex flex-column align-items-center">
      <h1 class="text-success"><%= @tang_poem.title %></h1>
      <br>
      <div class="text-muted"><%= @tang_poem.dynasty %> - <%= @tang_poem.author %></div>
      <br>
      <div class="font-weight-normal">
      <% @tang_poem.content.each do |line| %>
        <p class="poem-body"><%= line %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<h2 class="category"><%= h Work, :notes %></h2>
<div class="mx-5">
  <% if @tang_poem.notes.empty? %>
    <h5 class="font-weight-normal">暂无, <%= link_to '我来补充', [ :edit, :backend, @tang_poem ] %></h5>
  <% else %>
    <ul class="list-group list-group-flush">
      <% @tang_poem.notes.each do |line| %>
        <li class="list-group-item"><%= line %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2 class="category"><%= h Work, :translate %></h2>
<div class="mx-5">
  <% if @tang_poem.translate.empty? %>
    <h5 class="font-weight-normal">暂无, <%= link_to '我来补充', [ :edit, :backend, @tang_poem ] %></h5>
  <% else %>
    <% @tang_poem.translate.each do |line| %>
      <p><%= line %></p>
    <% end %>
  <% end %>
</div>

<% if @tang_poem.translate_res.present? %>
  <h2 class="category"><%= h Work, :translate_res %></h2>
  <div class="mx-5">
    <% @tang_poem.translate_res.each do |line| %>
      <div class="small text-muted"><%= line %></div>
    <% end %>
  </div>
<% end %>
