<h2><%= I18n.t 'pages.index', model: h(SongPoem), scope: :views %></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-0">
      <div class="d-flex justify-content-between align-items-end mb-3">
        <div class="text-muted">
          共收录作品 <span class="badge badge-pill badge-success"><%= SongPoem.all.count %></span> 首,
          作者 <span class="badge badge-pill badge-info"><%= SongPoem.distinct.pluck(:author).count %></span> 人
        </div>
        <%= link_to new_backend_song_poem_path, class: "btn btn-primary" do %>
          <%= I18n.t 'pages.new', model: h(SongPoem), scope: :views %>
        <% end %>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
        <td><%= h SongPoem, :title %></td>
        <td><%= h SongPoem, :category %></td>
        <td><%= h SongPoem, :author %></td>
        <td>操作</td>
        </tr>
        </thead>
        <% @song_poems.each do |song_poem| %>
          <tr>
          <td><%= link_to song_poem.title, [ :backend, song_poem ] %></td>
          <td><%= song_poem.category_text %></td>
          <td><%= song_poem.author %></td>
          <td>
            <%= link_to "编辑", [ :edit, :backend, song_poem ] %>
            <%= link_to "删除", [ :backend, song_poem ], method: :delete, data: { confirm: "确定删除#{song_poem.title}？"} %>
          </td>
          </tr>
        <% end %>
      </table>

      <%= paginate @song_poems, window: 1 %>
    </div>
  </div>
</div>
