<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for user, as: :user, url: [ :profile, :basic ], method: :patch do |f| %>
    <%= f.input :nickname %>
    <%= f.input :email, readonly: true %>
    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.submit '更新个人资料', class: "btn btn-primary text-center" %>
    <% end %>
  </div>
</div>
