<div class="container">
  <div class="row my-3">
    <div class="col-md-10 offset-md-1 d-flex flex-column align-items-center">
      <h1 class="text-success"><%= work.title %><span class="badge badge-info ml-1" style="font-size: 30%;"><%= work.category_text %></span></h1>
      <br>
      <div class="text-muted"><%= work.dynasty %> - <%= work.author %></div>
      <br>
      <% if work.prelude.present? %>
        <div class="mx-5 text-muted"><%= work.prelude %></div>
        <br>
      <% end %>
      <div class="font-weight-normal">
        <% work.content.each do |item| %>
          <p class="poem-body"><%= item %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
