<div class="row">
  <div class="col-lg-8 offset-md-2">
    <%= simple_form_for [ :backend, poem ] do |f| %>
    <%= f.input :title %>
    <%= f.input :dynasty %>
    <%= f.input :author %>
    <%= f.input :prelude %>
    <%= f.input :category %>
    <% if poem.category.essay? %>
      <%= f.input :content, as: :arraytext %>
    <% else %>
      <%= f.input :content, as: :array %>
    <% end %>
    <%= f.input :notes, as: :array %>
    <%= f.input :translate, as: :array %>
    <%= f.input :translate_res, as: :array %>

    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
