<% url = [ :edit, :backend, work ] %>
<h2 class="category"><%= h Work, :notes %></h2>
<div class="mx-5">
  <% if work.notes.empty? %>
    <h5 class="font-weight-normal">暂无, <%= link_to '我来补充', url if can? :update, work %></h5>
  <% else %>
    <ul class="list-group list-group-flush">
      <% work.notes.each do |line| %>
        <li class="list-group-item"><%= line %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2 class="category"><%= h Work, :translate %></h2>
<div class="mx-5">
  <% if work.translate.empty? %>
    <h5 class="font-weight-normal">暂无, <%= link_to '我来补充', url if can? :update, work %></h5>
  <% else %>
    <% work.translate.each do |line| %>
      <p><%= line %></p>
    <% end %>
  <% end %>
</div>

<% if work.translate_res.present? %>
  <h2 class="category"><%= h Work, :translate_res %></h2>
  <div class="mx-5">
    <% work.translate_res.each do |line| %>
      <div class="small text-muted"><%= line %></div>
    <% end %>
  </div>
<% end %>

<h2 class="category"><%= h Suggestion %></h2>
<div class="mx-5">
  <% if work.suggestions.present? %>
    <% work.suggestions.each do |suggestion| %>
      <div class="card border-0 mb-3">
        <div class="card-body pl-0">
          <blockquote class="blockquote mb-0">
            <p><%= suggestion.comments %></p>
            <% info = suggestion.user.present? ? suggestion.user.nickname : suggestion.email %>
            <footer class="blockquote-footer float-right"><%= info %> <%=l suggestion.created_at, format: :long%></footer>
          </blockquote>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
