<table class="table table-bordered">
  <thead>
  <tr>
  <td><%= sort_link q, :title %></td>
  <td><%= sort_link q, :category %></td>
  <td><%= sort_link q, :author %></td>
  <td>操作</td>
  </tr>
  </thead>
  <% works.each do |work| %>
    <tr>
    <td><%= link_to work.title, [ :backend, work ] %></td>
    <td><%= work.category_text %></td>
    <td><%= work.author %></td>
    <td>
      <%= link_to "编辑", [ :edit, :backend, work ] %>
      <%= link_to "删除", [ :backend, work ], method: :delete, data: { confirm: "确定删除#{work.title}？"} %>
    </td>
    </tr>
  <% end %>
</table>
