  <div class="jumbotron jumbotron-fluid">
    <div class="container text-dark text-center">
      <h1 class="display-4">东坡之词旷，稼轩之词豪</h1>
    </div>
  </div>

<h2 class="category"><%= h TangPoem %></h2>
<%= render "tang_poems", poems: @tang_poems %>
<h2 class="category"><%= h SongPoem %></h2>
<%= render "song_poems", poems: @song_poems %>
<h2 class="category"><%= h Article %></h2>
<%= render "song_poems", poems: @articles %>
