<div class="container-fluid px-3">
  <%= render 'intro' %>

  <nav>
    <div class="nav nav-tabs">
      <%= link_to '乐府', [ :yuefus, :han_poetries ], class: "nav-item nav-link h3" %>
      <%= link_to '诗集', [ :poetries, :han_poetries ], class: "nav-item nav-link h3 active" %>
      <%= link_to '赋文', [ :essays, :han_poetries ], class: "nav-item nav-link h3" %>
    </div>
  </nav>

  <div class="tab-content">
    <div class="tab-pane fade show active">
      <p class="ml-3 mt-3 text-muted">共收录作品 <span class="text-success"><%= @poetries.total_count %></span> 首</p>
      <%= render "shared/category/poetry", poetries: @poetries %>
      <br>
      <%= paginate @poetries %>
    </div>
  </div>
</div>
