<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-auto" href="/"><img src='<%= asset_pack_path 'media/images/logo.png'%>' class="mb-2" style="width: 2.5rem;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "先秦", [ :poetries, QinPoetry ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "两汉", [ :yuefus, HanPoetry ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "唐诗", [ :poetries, TangPoem ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "宋词", [ :cis, SongPoem ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "东坡", [ :dongp, :works ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "稼轩", [ :jiax, :works ], class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">关于</a>
      </li>
      <% if current_user && current_user.is_a?(Admin) %>
        <li class="nav-item d-none" id="showBackend">
          <%= link_to '后台', [ :backend, User ], class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <div id="naughty"></div>
    <% if local_assigns[:need_search] %>
      <%= search_form_for @q, url: search_path, method: :get, class: "form-inline my-2 my-lg-0 mr-4" do |f|%>
        <div class="input-group">
          <%= f.search_field :title_or_author_or_dynasty_or_entry_content_cont, class: "form-control m-2", style: "width: 400px;", placeholder: '山色空濛雨亦奇……', autocomplete: :on %>
          <%= f.submit '搜索', class: 'btn btn-outline-success m-2' %>
        </div>
      <% end %>
    <% end %>

    <% if current_user %>
      <div class="dropdown pr-3">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          Hi, <%= current_user.nickname %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "个人中心", [ :profile, :basic ], class: "dropdown-item" %>
          <%= link_to "退出", users_sign_out_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: 'text-muted' do %>
        <i class="fas fa-user mr-1"></i>登录
      <% end %>
    <% end %>
  </div>
</nav>
