<div class="sidebar">
  <div class="list-group border-0">
    <%= link_to "#{h User}", [ :backend, User ], class: 'list-group-item list-group-item-action' %>
    <%= link_to [ :backend, QinPoetry ], class: 'list-group-item list-group-item-action' do %>
      <%= h QinPoetry %>
      <span class="badge badge-pill badge-light"><%= QinPoetry.count %></span>
    <% end %>
    <%= link_to [ :backend, HanPoetry ], class: 'list-group-item list-group-item-action' do %>
      <%= h HanPoetry %>
      <span class="badge badge-pill badge-light"><%= HanPoetry.count %></span>
    <% end %>
    <%= link_to [ :backend, TangPoem ], class: 'list-group-item list-group-item-action' do %>
      <%= h TangPoem %>
      <span class="badge badge-pill badge-light"><%= TangPoem.count %></span>
    <% end %>
    <%= link_to [ :backend, SongPoem ], class: 'list-group-item list-group-item-action' do %>
      <%= h SongPoem %>
      <span class="badge badge-pill badge-light"><%= SongPoem.count %></span>
    <% end %>
    <%= link_to [ :backend, Article ], class: 'list-group-item list-group-item-action' do %>
      <%= h Article %>
      <span class="badge badge-pill badge-light"><%= Article.count %></span>
    <% end %>
  </div>
</div>
