<div class="container-fluid">
  <div class="row mx-3">
    <% essays.each do |essay| %>
      <div class="col-6 my-3">
        <div class="poems">
          <div class="card card-body border-0">
            <%= link_to essay.title, work_url(essay.id), class: "card-title text-success h5" %>
            <small class="card-subtitle mb-2 text-muted"><%= essay.dynasty %> - <%= essay.author %></small>
            <div class="card-text">
              <% if essay.content.size > 4 %>
                <% essay.content.first(4).each do |line| %>
                  <p><%= line %></p>
                <% end %>
                <p>.........</p>
              <% else %>
                <% essay.content.each do |line| %>
                  <p><%= line %></p>
                <% end %>
              <% end %>
            </div>
          </div>
          <div id="work-flip-<%= essay.id %>">
            <%= render 'shared/flip', work: essay %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
