<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6 card px-0">
      <div class="card-header"><%= t(".change_your_password") %></div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password,
                        label: t(".new_password"),
                        required: true,
                        autofocus: true,
                        hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: t(".confirm_new_password"), required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, t(".change_my_password"), class: "btn btn-primary" %>
          </div>
        <% end %>
        <hr>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
