<h2><%= I18n.t 'pages.index', model: h(Admin), scope: :views %></h2>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-0">
      <div class="d-flex justify-content-end mb-3">
        <%= link_to new_backend_admin_path, class: "btn btn-primary" do %>
          <%= I18n.t 'pages.new', model: h(Admin), scope: :views %>
        <% end %>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
        <td><%= h Admin, :name %></td>
        <td><%= h Admin, :email %></td>
        <td><%= I18n.t 'pages.action', scope: :views %></td>
        </tr>
        </thead>
        <% @admins.each do |admin| %>
          <tr>
          <td><%= link_to admin.name, [ :backend, admin ] %></td>
          <td><%= admin.email %></td>
          <td>
            <%= link_to "删除", [ :backend, admin ], method: :delete, data: { confirm: "确定删除 #{admin.name}？"} %>
          </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
