<!DOCTYPE html>
<html>
  <head>
    <title>个人诗词赏析及分享</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render 'layouts/common/navbar', need_search: true %>
      <%= render 'layouts/common/flash' %>
      <div class="container-fluid px-0">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/common/footer' %>

  </body>
</html>
