<!DOCTYPE html>
<html>
  <head>
    <title>归去来兮</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render 'layouts/common/navbar', profile: true %>
      <%= render 'layouts/common/flash' %>

      <div class="content-fluid">
        <div class="row flex-xl-nowrap">
          <div class="col-md-2 border-right">
            <%= render 'layouts/common/sidebar' %>
          </div>
          <div class="col p-3 mr-3 d-flex flex-column">
            <div class="flex-grow-1">
              <%= yield %>
            </div>
            <%= render 'layouts/common/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
