<!DOCTYPE html>
<html>
  <head>
    <title>归去来兮</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid px-0 mb-3">
        <%= render 'layouts/common/navbar', profile: true %>
        <%= render 'layouts/common/flash' %>
      </div>

      <div class="content-fluid">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 border-right">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to "#{h Admin}", [ :backend, Admin ], class: 'nav-link active' %></li>
              </li>
              <li class="nav-item">
                <%= link_to "#{h SongPoem}", [ :backend, SongPoem ], class: 'nav-link' %></li>
              </li>
              <li class="nav-item">
                <%= link_to "#{h Article}", [ :backend, Article ], class: 'nav-link' %></li>
              </li>
            </ul>
          </div>
          <div class="col">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/common/footer' %>

  </body>
</html>
