<!DOCTYPE html>
<html>
  <head>
    <title>归去来兮</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid px-0 mb-3">
        <%= render 'layouts/common/navbar' %>
        <%= render 'layouts/common/flash' %>
      </div>

      <div class="content-fluid">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/common/footer' %>
  </body>
</html>
